#main {
    font-family: 'Gotu' , sens-serif;
  background-color:  white;
  /* width: 70vw; */
  height: auto;
  margin: 20px;
  padding: 40px;
}

#title {
font-size: 2.5em; 
  text-align: center;
  text-transform: capitalize;
  padding: 10px 30px 0px 30px;
}

#subtitle {
  font-size: 1.1em;
  text-align: center;
}
#image {
  /* display: block; */
  max-width: 100%;
  height: auto;
  /* border-style: solid; */
  /* border-width: 50px 90px 50px 90px; */
  /* border-color: white; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

#img-div {
  background-color: lightseagreen;
  margin: auto;
  text-align: center;
  padding: 30px;
}

/* #img-caption {
  text-align: center;
  position: relative;
  bottom: 70px;
} */

main {
  display: felx;
  position: relative;
 justify-content: center;
 align-content: center;
 /* text-align: center; */
}

#list-title{
  text-align: center;
  padding: 30px;
}

#tribute-info {
  text-align: justify;
}
#quote {
  position: relative;
  top: 20px;
  text-align: center;
  background-color: #e9e8ff;
  max-width: 600px;
  margin: auto;
}

footer {
  padding: 30px 10px 30px 29px;
}

a:hover {
  color: red;
}

.container {
  padding: 50px;
  background-color: #fff4e8;
  max-width: 960px;
  margin: auto;
}